@import "tailwindcss";

@theme {
  --color-navy: #050E3C;
  --color-midnight: #0B1B4D;
  --color-royal: #1C2F60;
  --color-glowblue: #405EB9;
  --color-glowpurple: #9461B4;
  --color-accent: #DC0000;
  --color-softaccent: #FF3838;

  --radius-lg: 18px;
  --radius-xl: 22px;

  --blur-xs: 8px;
  --blur-sm: 14px;
  --blur-md: 20px;
  --blur-lg: 28px;
  --blur-xl: 40px;
}

@layer utilities {
  .bg-taskly-gradient {
    background: radial-gradient(circle at 20% 20%,
        rgb(76, 35, 109) 0%,
        rgba(21, 27, 66, 1) 25%,
        rgba(16, 21, 56, 1) 45%,
        rgba(15, 16, 40, 1) 70%),
      radial-gradient(circle at 85% 15%,
        rgba(125, 86, 196, 0.55) 0%,
        rgba(50, 30, 100, 0.35) 40%,
        rgba(15, 16, 40, 0) 75%),
      linear-gradient(to bottom right,
        rgba(15, 16, 40, 1) 0%,
        rgba(20, 22, 55, 1) 100%);
    background-attachment: fixed;
    background-blend-mode: screen, overlay, normal;
  }
}